all:
  children:
    k3s_local:
      hosts:
        localhost:
          ansible_connection: local
          ansible_python_interpreter: "{{ ansible_playbook_python }}"
          ansible_become: false
    k3s_cluster:
      children:
        k3s_masters:
          hosts: {}
        k3s_workers:
          hosts: {}
