---
- name: Restart SSH
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted

- name: Reload audit rules
  ansible.builtin.command: augenrules --load
  changed_when: true

- name: Restart auditd
  ansible.builtin.systemd:
    name: auditd
    state: restarted

- name: Restart rsyslog
  ansible.builtin.systemd:
    name: rsyslog
    state: restarted
