# Password policy hardening via PAM and login.defs

- name: Install password quality packages
  ansible.builtin.apt:
    name:
      - libpam-pwquality
      - libpam-cracklib
    state: present
    update_cache: true

- name: Configure password aging in login.defs
  ansible.builtin.lineinfile:
    path: /etc/login.defs
    regexp: "^{{ item.key }}"
    line: "{{ item.key }}\t{{ item.value }}"
    state: present
  loop:
    - {key: "PASS_MAX_DAYS", value: "{{ hardening_password_max_days }}"}
    - {key: "PASS_MIN_DAYS", value: "{{ hardening_password_min_days }}"}
    - {key: "PASS_WARN_AGE", value: "{{ hardening_password_warn_age }}"}
    - {key: "PASS_MIN_LEN", value: "{{ hardening_password_min_length }}"}

- name: Configure password quality requirements
  ansible.builtin.template:
    src: pwquality.conf.j2
    dest: /etc/security/pwquality.conf
    mode: "0644"
    owner: root
    group: root

- name: Configure PAM password requirements
  ansible.builtin.lineinfile:
    path: /etc/pam.d/common-password
    regexp: "^password\\s+requisite\\s+pam_pwquality.so"
    line: >-
      password	requisite	pam_pwquality.so retry=3
      minlen={{ hardening_password_min_length }} difok=3
      ucredit=-1 lcredit=-1 dcredit=-1 ocredit=-1
      reject_username enforce_for_root
    insertbefore: "^password.*pam_unix.so"
    state: present

- name: Configure account lockout policy
  ansible.builtin.blockinfile:
    path: /etc/pam.d/common-auth
    marker: "# {mark} ANSIBLE MANAGED - Account lockout policy"
    insertbefore: "^auth.*pam_unix.so"
    block: |
      auth	required	pam_faillock.so preauth silent audit deny={{ hardening_password_lockout_attempts }} unlock_time={{ hardening_password_lockout_time }}
      auth	[default=die] pam_faillock.so authfail audit deny={{ hardening_password_lockout_attempts }} unlock_time={{ hardening_password_lockout_time }}
  when: hardening_password_lockout_enabled | default(true)

- name: Configure faillock directory
  ansible.builtin.file:
    path: /var/run/faillock
    state: directory
    mode: "0755"
    owner: root
    group: root
  when: hardening_password_lockout_enabled | default(true)

- name: Display password policy status
  ansible.builtin.debug:
    msg: |
      Password Policy Configured:
      - Max password age: {{ hardening_password_max_days }} days
      - Min password age: {{ hardening_password_min_days }} days
      - Min password length: {{ hardening_password_min_length }} characters
      - Account lockout: {{ hardening_password_lockout_attempts }} attempts, {{ hardening_password_lockout_time }}s unlock
