# Centralized version registry
# Update this file to upgrade components across all environments

versions:
  # K3s distribution
  k3s: "v1.35.0+k3s3"

  # Helm charts
  helm_charts:
    # Infrastructure
    cilium: "1.19.0"
    longhorn: "1.11.0"
    cert_manager: "1.19.3"
    # Platform
    vault: "0.32.0"
    external_secrets: "2.0.0"
    # Gateway
    envoy_gateway: "1.7.0"
    # Policy
    kyverno: "3.7.0"
    # Services
    mattermost: "7.0.0"
    nextcloud: "8.6.0"
    seaweedfs: "4.0.410"
    flipt: "1.35.0"
    # DevOps
    gitea: "12.5.0"
    argocd: "9.4.1"
    argo_rollouts: "2.40.5"
    # Monitoring
    kube_prometheus_stack: "81.6.1"
    loki: "6.52.0"
    alloy: "1.6.0"
    # Security
    velero: "11.3.2"

  # Kubernetes operators
  operators:
    cnpg: "1.28.1"              # CloudNativePG
    mariadb_operator: "25.10.4" # MariaDB Operator
    redis_operator: "3.3.1"     # Spotahome Redis Operator
    keycloak: "26.5.3"          # Keycloak Operator
    trivy_operator: "0.32.0"    # Trivy Operator

  # CRDs (applied directly, not via Helm)
  crds:
    gateway_api: "v1.4.1"

  # Container image versions (non-Helm deployments)
  images:
    onlyoffice: "9.2.1"
    ecrin: "1.0.0"
    redcap: "14.0.0"
    curl: "8.18.0"
    mattermost: "11.2"
    nextcloud: "32"
    velero_plugin_aws: "1.13.0"

# Helm repository URLs
helm_repositories:
  cilium:
    name: cilium
    url: https://helm.cilium.io/

  longhorn:
    name: longhorn
    url: https://charts.longhorn.io

  jetstack:
    name: jetstack
    url: https://charts.jetstack.io

  hashicorp:
    name: hashicorp
    url: https://helm.releases.hashicorp.com

  external_secrets:
    name: external-secrets
    url: https://charts.external-secrets.io

  cnpg:
    name: cnpg
    url: https://cloudnative-pg.github.io/charts

  mariadb_operator:
    name: mariadb-operator
    url: https://helm.mariadb.com/mariadb-operator

  redis_operator:
    name: redis-operator
    url: https://spotahome.github.io/redis-operator

  mattermost:
    name: mattermost
    url: https://helm.mattermost.com

  nextcloud:
    name: nextcloud
    url: https://nextcloud.github.io/helm/

  seaweedfs:
    name: seaweedfs
    url: https://seaweedfs.github.io/seaweedfs/helm

  gitea:
    name: gitea
    url: https://dl.gitea.io/charts/

  argo:
    name: argo
    url: https://argoproj.github.io/argo-helm

  prometheus_community:
    name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts

  grafana:
    name: grafana
    url: https://grafana.github.io/helm-charts

  keycloak_operator:
    name: keycloak-operator
    url: https://raw.githubusercontent.com/keycloak/keycloak-k8s-resources/refs/heads/main/kubernetes

  kyverno:
    name: kyverno
    url: https://kyverno.github.io/kyverno/

  envoy_gateway:
    name: envoy-gateway
    url: https://gateway.envoyproxy.io/helm-charts

  velero:
    name: vmware-tanzu
    url: https://vmware-tanzu.github.io/helm-charts

  trivy:
    name: aqua
    url: https://aquasecurity.github.io/helm-charts/

  flipt:
    name: flipt
    url: https://helm.flipt.io
