---
all:
  children:
    k3s_cluster:
      children:
        k3s_masters:
          hosts:
            staging-k3s-01:
              ansible_host: "{{ lookup('env', 'STAGING_HOST') | default('10.0.1.10', true) }}"
              ansible_user: ubuntu
              ansible_ssh_private_key_file: "{{ lookup('env', 'STAGING_SSH_KEY') | default('~/.ssh/staging_key', true) }}"
