---
# ReferenceGrant allows HTTPRoutes from any namespace
# to reference the main Gateway
apiVersion: gateway.networking.k8s.io/v1
kind: ReferenceGrant
metadata:
  name: allow-routes-to-gateway
  namespace: {{ envoy_gateway_namespace }}
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      namespace: "*"
  to:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: {{ gateway_name }}
